<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mental Hub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">

    <link href="~/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/css/bootstrap-icons.css" rel="stylesheet">

    <link href="~/css/owl.carousel.min.css" rel="stylesheet">

    <link href="~/css/owl.theme.default.min.css" rel="stylesheet">

    <link href="~/css/templatemo-medic-care.css" rel="stylesheet">

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="icon" type = "image/x-icon" href= "~/images/favicon.png" />

</head>
<body>


    <!-- ОПРАВИИ ИИ ИИ И  И И И И ИИИ СТИЛОВЕ ТЕМПЛЕЙТ ЗНАЕШ БАТЬООООО-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Логото -->
                <a href="/" class="logo">
                    <img src="~/Images/image1.png"  alt="Лого на сайта" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- "Home" -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <!-- "Privacy" -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>


                      <!-- Дропдауни -->
                        <!-- Dropdown за "Test" -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="navbarTestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Test
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarTestDropdown">
                                <li><span style = "cursor: default; user-select: none;">UserInterface</span></li>
                                <li><a class="dropdown-item"  asp-area="" asp-controller="Home" asp-action="CustomPage">Test</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CustomPage2">Test 2</a></li>
                            </ul>
                        </li>

                        <!-- Dropdown за "Services" -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="navbarServicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Трябва ви помощ?
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarServicesDropdown">
                                <li><span style = "cursor: default; user-select: none;"><b>Душевни състояния</b></span></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="NeedHelp" asp-action="Depression">Помощ при депресия</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="NeedHelp" asp-action="Anger">Помощ при гняв</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="NeedHelp" asp-action="Sadness">Помощ при тъга</a></li>
                                <li><span style = "cursor: default; user-select: none;"><b>......</b></span></li>
                            </ul>
                        </li>

                        <!-- "UserInterface" -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserInterface">User</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <footer class="site-footer section-padding" id="contact">
        <div class="container">
            <div class="row">

                <div class="col-lg-5 me-auto col-12">
                    <h5 class="mb-lg-4 mb-3">Opening Hours</h5>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex">
                            Sunday : Closed
                        </li>

                        <li class="list-group-item d-flex">
                            Monday, Tuesday - Firday
                            <span>8:00 AM - 3:30 PM</span>
                        </li>

                        <li class="list-group-item d-flex">
                            Saturday
                            <span>10:30 AM - 5:30 PM</span>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-6 col-12 my-4 my-lg-0">
                    <h5 class="mb-lg-4 mb-3">Our Clinic</h5>

                    <p><a href="mailto:hello@company.co">hello@company.co</a><p>

                    <p>Каменица 1 Пловдив Център, ул. „Родопи“ 48, 4000 Пловдив</p>
                </div>

                <div class="col-lg-3 col-md-6 col-12 ms-auto">
                    <h5 class="mb-lg-4 mb-2">Socials</h5>

                    <ul class="social-icon">
                        <li><a href="#" class="social-icon-link bi-facebook"></a></li>

                        <li><a href="#" class="social-icon-link bi-twitter"></a></li>

                        <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                        <li><a href="#" class="social-icon-link bi-youtube"></a></li>
                    </ul>

                    <div>
                        <p class="copyright-text">
                            Copyright © Medic Care 2021
                    </div>
                </div>



            </div>
        </div>
    </footer>


    <!-- JAVASCRIPT FILES -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/scrollspy.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>