<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mental Hub</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
    <link rel="icon" type = "image/x-icon" href= "~/images/favicon.png" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Логото -->
                <a href="/" class="logo">
                    <img src="~/Images/image1.png"  alt="Лого на сайта" />
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <!-- "Home" -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <!-- "Privacy" -->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>

                        <!-- Dropdown за "Test" -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="navbarTestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Test
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarTestDropdown">
                                <li><span style = "cursor: default; user-select: none;">UserInterface</span></li>
                                <li><a class="dropdown-item"  asp-area="" asp-controller="Home" asp-action="CustomPage">Test</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="CustomPage2">Test 2</a></li>
                            </ul>
                        </li>

                        <!-- Dropdown за "Services" -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" id="navbarServicesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Трябва ви помощ?
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarServicesDropdown">
                                <li><span style = "cursor: default; user-select: none;"><b>Душевни състояния</b></span></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="NeedHelp" asp-action="Depression">Помощ при депресия</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="NeedHelp" asp-action="Anger">Помощ при гняв</a></li>
                                <li><a class="dropdown-item" asp-area="" asp-controller="NeedHelp" asp-action="Sadness">Помощ при тъга</a></li>
                                <li><span style = "cursor: default; user-select: none;"><b>......</b></span></li>
                            </ul>
                        </li>

                        <!-- "UserInterface" -->
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="UserInterface">User</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Ментъл Хъб - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>