@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-family: 'OpenSans-BoldItalic', Helvetica;">Добре дошли в "Ментал Хъб" –<span> Вашето пространство за психично здраве и баланс!</span><br></h1><br />
    <h2 class="display-4" style="font-family: 'Wasted-Vindey', Helvetica; font-size:27pt">
        В "Ментал Хъб" вярваме, че психичното здраве е основа за пълноценен и щастлив живот.
        Ние предлагаме подкрепа, насоки и ресурси за всеки, който търси хармония и развитие.
    </h2>
    <h3 class="display-4" style="font-family: 'OpenSans-BoldItalic', Helvetica;">Какво ще откриете при нас......</h3>